.text{
    font-weight: 900;
}
.textGradient{
  background: linear-gradient(87deg, #FFF112 51%, #ffb108 82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.floating { 
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  margin-left: 30px;
  margin-top: 5px;
}

@keyframes floating {
  0% { transform: translate(0,  0px); }
  50%  { transform: translate(0, 15px); }
  100%   { transform: translate(0, -0px); }   
}

