@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden; /* Hide scrollbars */
}
body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #080b23;
background-image: linear-gradient(90deg, #0b1031 0%, #150529 50%, #080b23 100%);

overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
